<%/*
var categories = [];
site.categories.forEach(function(category) {
		categories.push(category.name);
});
categories = categories.reverse();
*/%>


<%
var categories = [];
for (var category in site.data.categories) {
	categories.push(category)
}
%>

<%- partial('_partial/p-presentation') %>

<div class="container-fluid home">
		<div class="row">
				<div class="col-md-3 col-xs-12 mt-2">
						<nav id="navbar-main-side" class="list-group sticky-top">
							<% categories.forEach(function(category) { %>
									<a class="list-group-item list-group-item-action" href="#<%- _.snakeCase(category) %>"><%- category %></a>
							<% }); %>
						</nav>
				</div>
				<div class="col-md-9 col-xs-12" id="background">
						<% categories.forEach(function(category) { %>
							<div class="d-flex flex-md-row flex-column justify-content-between align-items-start align-items-md-center">
									<h1 id="<%- _.snakeCase(category) %>"><strong><%- category %></strong></h1>
									<a href="<%- config.category_dir + url_for(_.kebabCase(category)) %>/"><button type="button" class="btn btn-outline-danger mb-3 mb-md-0">Voir plus</button></a>
							</div>
								<div class="row" class="col-12 scrollspy-example" data-spy="scroll" data-target="#navbar-main-side" data-offset="40">
											<div class="col-12 card-deck">
													<!-- Initiate a counter -->
													<% var count = 0; %>
												  <!-- For each post in the home page -->
													<% page.posts.each(function(item){ %>
																<!-- Create an array containing the item categories -->
																<%
																	var itemCategories = [];
																	item.categories.forEach(function(category){
																			itemCategories.push(category.name);
																	});
																%>
																<!-- If the category match with the section displaying category -->
																<% if ((itemCategories[0] == category) && (count < 6)) { %>
																		<!-- Print the card to the section -->
																		<%- partial('_partial/article-excerpt', {item: item, category: category}) %>
																		<% count++; %>
																<% } %>
													<% }); %>
											</div>
								</div>
						<% }); %>
				</div>
			</div>
</div>


<%- page.content %>
