 <% var whatCss = (function() {
 var cssClass;
 	switch (item.category_bis) {
 		case "movies":
 		    cssClass = "film_rouge";
 			break;
 		case "docs":
 			cssClass = "cartoon_bleu";
 			break;
 		case "cartoons":
 			cssClass = "cartoon_bleu";
 			break;
 		default:
 			cssClass = "";
 	}
 	return cssClass;
  }); %>


<a href="<%- config.root %><%- item.path %>">
	<div class="element">
		<img class="<%- whatCss() %>" src="<%- url_for('img/')%><%- item.img_url %>.jpg" alt="Affiche du <%- __('excerpt.' + item.category_bis) %> de <%- item.author %>: <%- item.title %>" tittle="<%- item.title %>"> </img> 
		<div class="description">
			<h4> <%- item.title %> <%if(item.quality) { %> <span class="label label-default"> <%- item.quality %></span><% } %> </h4>
			<p> <% if (item.subtitle) { %>
                <%- item.subtitle %>
              <% } else { %><%- item.author %> <% } %>
               </p>
			<p class="langueFiche"><%- __('excerpt.lang') %>: <%- item.lang %></p>
			<p class="anneeFiche"><%- __('excerpt.year') %>: <%- item.year %></p>
			<p class="longueurFiche"><%- item.length %></p>
		</div>
	</div>
</a>
