<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-xs-12 pr-lg-0" id="video_et_description">

					<div class="tab-content" id="nav-tabContent">
					<% if (item.youtube_url) { %>
						<div class="tab-pane fade show active" id="nav-youtube" role="tabpanel" aria-labelledby="nav-youtube-tab">
							<!-- plyr -->
							<div data-type="youtube" class="js-player" data-video-id="<%- item.youtube_url %>"></div>
						</div>
						<% } if (item.vimeo_url) { %>
						<div class="tab-pane fade <%- item.youtube_url ? '' : 'show active' %>" id="nav-vimeo" role="tabpanel" aria-labelledby="nav-vimeo-tab">
							<div data-type="vimeo" class="js-player" data-video-id="<%- item.vimeo_url %>"></div>
						</div>
						<% } if (item.archive_url) { %>
						<div class="tab-pane fade <%- (item.vimeo_url || item.youtube_url)  ? '' : 'show active' %>" id="nav-archive" role="tabpanel" aria-labelledby="nav-archive-tab">
							
							<iframe src="<%- item.archive_url %>" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>

						</div>
						<% } if (item.webtorrent_magnet) { %>
						<div class="tab-pane fade <%- (item.vimeo_url || item.youtube_url || item.archive_url)  ? '' : 'show active' %>" id="nav-webtorrent" role="tabpanel" aria-labelledby="nav-webtorrent-tab">
							<div class="video" id="video_webtorrent" >

							</div>
						</div>
						<script>
								setTimeout(()=>{
									// console.log('setting the poster image...');
									document.getElementById('video_webtorrent').lastChild.setAttribute("poster","<%- url_for('img/')%>poster_<%- item.img_name %>")
								}, 5000)

						</script>
			
						<% } %>
					</div>

					<div class="row mx-0">
						<div class="col-12 px-0">
							<nav class="nav " id="myTab" role="tablist">
								<% if (item.youtube_url) { %>
								  <a class="nav-item nav-link active text-dark" id="nav-youtube-tab" data-toggle="tab" href="#nav-youtube" role="tab" aria-controls="nav-youtube" aria-selected="true"> Youtube <i class="fab fa-youtube mx-1" aria-hidden="true"></i></a>
								<% } if (item.vimeo_url) { %>
								<a class="nav-item nav-link text-dark" id="nav-vimeo-tab" data-toggle="tab" href="#nav-vimeo" role="tab" aria-controls="nav-vimeo" aria-selected="false">Vimeo <i class="fab fa-vimeo-square mx-1" style="color:#00ADEF;" aria-hidden="true"></i></a>
								<% } if (item.webtorrent_magnet) { %>
								<a class="nav-item nav-link text-dark" id="nav-webtorrent-tab" data-toggle="tab" href="#nav-webtorrent" role="tab" aria-controls="nav-webtorrent" aria-selected="false">Webtorrent <i class="fa fa-heart mx-1" aria-hidden="true"></i></a></a>
								<% } if (item.archive_url) { %>
								<a class="nav-item nav-link text-dark" id="nav-archive-tab" data-toggle="tab" href="#nav-archive" role="tab" aria-controls="nav-archive" aria-selected="false">Archive.org <i class="fa fa-university mx-1" aria-hidden="true"></i></a>
								<% } %>
							</nav>
						</div>

						<!-- <div class="col-4 px-0">
							<form class="m-2 text-right" method="POST" action="https://api.staticman.net/v2/entry/cinetimes/cinetimes-fr/source/like">
								<input name="options[redirect]" type="hidden" value="https://my-site.com">

								<input name="options[slug]" type="hidden" value="<%- item.slug %>">
								<input type="checkbox" class="d-none" name="fields[date]" value="1" checked>
								<label for="like" class="m-auto"> <span class="far fa-heart my-auto"> <span class="text-dark">10</span> </span> </label>
								<input type="submit" id="like" class="d-none"> </span> </input>
							</form>
							<% var likes = 0 %>
							<% for (var value in site.data ) { %>
								<% if (value.includes( item.slug )) { %>
									<% likes ++ %>
								<% } %>
							<% } %>
						</div> -->
					</div>

					<div class="videoDescription px-4 text-left d-flex justify-content-between">
						<h1 class="py-2 mb-0" id="video-title"><%- item.title %></h1>
						<div class="text-right my-auto">
								<a href=" <%- raw_link(page.source) %> "> <i class="far fa-edit text-dark"></i> </a>
						</div>
					</div>
					
					<span id="magnet" class="d-none"><%- item.webtorrent_magnet %></span>

				    <div class="videoDescription px-4 pb-2 text-left">
						<% if(item.synopsis) { %>
							<% 
							var cast = item.cast ? item.cast.split(',') : '';
							var crew = item.crew ? item.crew.split(',') : '';
							%>
							<h4 class="text-left">Synopsis</h4>
							<p class="text-left"> 
								<%- item.synopsis %> 
								<br>
								<% if(item.amazon) { %><span><a href="<%- item.amazon %>"><%- item.title %> en DVD</a></span> <% } %>
							</p>

							<%- item.content %>

							<input type="checkbox" id="read-more" class="d-none">
							<label for="read-more" class="read-more-trigger btn btn-secondary btn-sm"></label>
							<div class="text-left read-more-target">
								<ul class="list-unstyled">
									<li><span class="font-weight-bold">Titre</span>: <%- item.title %> </li>
									<li><span class="font-weight-bold">Titre original</span>: <%- item.original_title %> </li>
									<li> <span class="font-weight-bold">Date de sortie</span>: <%- full_date(item.release_date, 'Do MMMM YYYY') %> </li>
									<li> <span class="font-weight-bold">Réalisateur</span>:  <%- item.author %> </li>
									<li> <span class="font-weight-bold">Casting</span>:</li>
									<% if(item.cast) { %>
									<ul class="">
										<% cast.forEach(castMember => { %>
											<li>  <%- castMember %> </li>
										<% }) %>
									</ul>
									<% } if(item.cast) { %>
									<li> <span class="font-weight-bold">Équipe technique</span>:</li>
									<ul class="">
										<% crew.forEach(crewMember => { %>
											<li>  <%- crewMember %> </li>
										<% }) %>
									</ul>
									<% } %>
								</ul>
							</div>
		
						<% } else { %>
							<div class="font-weight-light">
								<%- item.content %>
							</div>
							
						<% } %>

						<!-- Google ad -->
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Related-Media -->
						<ins class="adsbygoogle"
							style="display:block"
							data-ad-client="ca-pub-3093835180445554"
							data-ad-slot="9851887562"
							data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>

				    </div>

					<!-- Sharing buttons -->
					<%- partial('share', {item: item}) %>

					 <!-- Tags and Categories links -->
				<!--      partial('article-tags', {item: item}) -->
				<!--     <%- partial('article-categories', {item: item}) %>-->

				<script src="<%- url_for('js/social.js') %>"></script>

				<!-- Comments
				<% if(!(page.comments == false)){ %>
				<div class="col-md-8 col-xs-12 mx-auto py-3 px-5 mb-1">
						<h3 class="text-center my-2 font-weight-bold">Laisser un commentaire</h3>
				</div>
				<div class="col-md-12 col-xs-12 mx-auto py-3 px-md-3 px-sm-1 mb-5 bg-color-white">
					<%- partial('comments') %>
				</div>
				<% } %> -->
		</div>




		<div class="col-lg-4 col-xs-12">
				<div class="d-flex flex-column">
					<ul class="list-unstyled mt-3">

				
						
								


						<% var i = 0 %>
						<% list_related_posts({maxCount: 12}).forEach(function(post) { %>
							<% if(post.layout != 'blog-post') { %>

								<%
								i += 1;
								if (i == 4 || i == 7 ) {
								%>
								<li class="mb-3">
								<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
								<ins class="adsbygoogle"
										style="display:block"
										data-ad-format="fluid"
										data-ad-layout-key="-el-2z-79-32+1hq"
										data-ad-client="ca-pub-3093835180445554"
										data-ad-slot="1571795069"></ins>
								<script>
										(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
								</li>
								<% } %>

								<li class="media mb-3">
									<a href="<%- url_for(post.path) %>" class="next-link" title="<%- post.title %>">
										<img class="mr-3" width="168" height="95" src="<%- url_for('img/')%>next_<%- post.img_name %>" alt="<%- post.title + ', ' + site.data.metadata.alt_intro %>">
									</a>
									<div class="media-body">
										<a href="<%- url_for(post.path) %>" class="underline-not" title="<%- post.title %>">
											<h5 class="mt-0 mb-1">
												<%- post.title %>
											</h5>
											<p>
												<%- _.startCase(post.author) %>
											</p>
										</a>
									</div>
								</li>
							<% } %>
						<% });	%>
					</ul>
				</div>
		</div>

			<!-- Comments -->
			<% if(!(page.comments == false)){ %>
				<div class="col-lg-8 col-xs-12">
						<h3 class="text-center my-2 font-weight-bold">Laisser un commentaire</h3>
				</div>
				<div class="col-lg-8 col-xs-12 py-3 px-md-3 px-sm-1 mb-5 mx-3 bg-color-white">
					<%- partial('comments') %>
				</div>
			<% } %>

	</div>
</div>



<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "VideoObject",
	  "name": "<%- page.serp || page.title %>",
	  "description": "<%- item.synopsis || get_description(item, config, site) %>",
	  "thumbnailUrl": [
		"<%- `${config.url}/img/poster_${item.img_name}` %>",
		"<%- `${config.url}/img/card_${item.img_name}` %>",
		"<%- `${config.url}/img/next_${item.img_name}` %>"
	  ],
	  "uploadDate": "<%- item.date %>",
	  "duration": "<%- item.runtime %>",
	  "contentUrl": "<%- item.video_path ? item.video_path : '' %>",
	  "embedUrl": "<%- item.youtube_url || item.vimeo_url || item.archive_url %>"
	}
</script>