<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-xs-12" id="video_et_description">
					<div class="videoDescription">
				        <h1 class="py-2"><%- item.title %></h1>
				    </div>


					<nav class="nav nav-tabs" id="myTab" role="tablist">
						<% if (item.youtube_url) { %>
					  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Youtube <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
						<% } if (item.webtorrent_magnet) { %>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Webtorrent <i class="fa fa-heart" aria-hidden="true"></i></a></a>
						<% } if (item.vimeo_url) { %>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Vimeo <i class="fa fa-vimeo-square" aria-hidden="true"></i></a>
						<% } %>
					</nav>

					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="video">
								<video id="my-video" class="video-js vjs-16-9" controls preload="auto" width="640px" height="267px" poster="<%- url_for('img/')%><%- item.img_name %>" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "<%- item.youtube_url %>"}] }'>
								</video>
								<script src="<%- url_for('bower_components/video.js/dist/video.min.js') %>"></script>
								<script src="<%- url_for('bower_components/videojs-youtube/dist/Youtube.min.js') %>"></script>
							</div>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="video" id="video_webtorrent" >

							</div>
						</div>
						<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

						</div>
					</div>

					<span id="magnet" class="d-none"><%- item.webtorrent_magnet %></span>

				    <div class="videoDescription">
				        <%- item.content %>
				    </div>


				    <div id="rs">
				      <button class="button share_twitter" data-url="<%- config.root %><%- item.path %>">
				        <span class="fa fa-twitter" aria-hidden="true"></span> Partager
				      </button>

				      <button class="button share_facebook" data-url="<%- config.root %><%- item.path %>">
				        <span class="fa fa-facebook" aria-hidden="true"></span> Partager
				      </button>

				    </div>

					 <!-- Tags and Categories links -->
				<!--      partial('article-tags', {item: item}) -->
				<!--     <%- partial('article-categories', {item: item}) %>-->

				<script src="<%- url_for('js/social.js') %>"></script>
		</div>

		<div class="col-md-4 col-xs-12">
				<div class="d-flex flex-column">
					<!-- <div class="media">
					<img class="mr-3" src="/img/lagreve.jpg" alt="Generic placeholder image">
							<div class="media-body">
									<h6 class="mt-0">Media heading</h6>
							</div>
					</div> -->
					<div class="row">
						<h5 class="m-4">À suivre</h5>
					</div>
								<ul class="list-unstyled">
								<% list_related_posts({maxCount: 10}).forEach(function(post) { %>
									<li class="media mb-3">
										<a href="<%- url_for(post.path) %>">
											<img class="mr-3" width="168" src="<%- url_for('img/')%><%- post.img_name %>" alt="<%- post.title + ', ' + site.data.metadata.alt_intro %>">
										</a>
										<div class="media-body">
											<a href="<%- url_for(post.path) %>" class="underline-not">
											<h5 class="mt-0 mb-1"><%- post.title %></h5>
											<p><%- _.startCase(post.author) %></p>
											</a>
										</div>
									</li>
								<% });	%>
								</ul>
				</div>
		</div>
	</div>
</div>
