<footer>
  <div id="footer_nav">
    <div class="fContainer">
      <div class="container-fluid">

        <div class="row">

          <div class="col-sm-12 col-md-5">
            <h3>
              <a href="<%- url_for('blog') %>/" class="text-white">Blog</a>
            </h3>
            <ul class="list-unstyled">
              <% site.posts.forEach((post) => { %>
                <% if(post.layout == "blog-post"){ %>
                  <% if(post.featured) { %>
                    <li class="mb-2">
                      <a class="text-light" href="<%- url_for(post.path) %>">
                        <%- post.title %>
                      </a>
                    </li>
                  <% } %>
                <% } %>
              <% }); %>
            </ul>
          </div>

          <!-- <div class="col-sm-12 col-md-5">
            <h3 class="text-white mb-2"> Populaire </h3>
            <ul class="list-unstyled">
              <% site.posts.forEach((post) => { %>
                <% if(post.layout == "post"){ %>
                  <% if(post.featured){ %>
                    <li class="mb-2">
                        <a class="text-light" href="<%- url_for(post.path) %>">
                            <%- post.title + ' - ' + post.author %>
                        </a>
                    </li>
                  <% } %>
                <% } %>
              <% }); %>
            </ul>
          </div> -->
          <div class="col-sm-12 col-md-5">
            <h3 class="text-white mb-2"> Populaire </h3>
            <ul class="list-unstyled">
              <!-- Popular posts -->
							<% let allPosts = build_popular_posts(env.popularPosts, site) %>
							<% allPosts = allPosts.slice(0, 5) %>
							<% allPosts.forEach(post => { %>
                <li class="mb-2">
                    <a class="text-light" href="<%- url_for(post.path) %>">
                        <%- post.title + ' - ' + post.author %>
                    </a>
                </li>
							<% }) %>
            </ul>
          </div>


          <div class="col-sm-12 col-md-2 pr-0">
            <h3 class="text-white mb-2"> Pages </h3>
            <ul class="list-unstyled">
              <% for (var link in site.data.pages) {%>
                <li class="mb-2">
                  <a class="text-light" href="<%- url_for(site.data.pages[link]) %>">
                    <%- link %>
                  </a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Flex Parapgraphs -->
  <div id="footerBottom">
    <p> Copyright &copy; <%- (new Date()).getFullYear() %> CineTimes </p>
    <p>	
    
    </a>
    </p>

    <p>
        <a class="fab fa-twitter fa-2x text-light "
        href="https://twitter.com/<%- config.twitter_site %>">
    </p>
  </div>
</footer>