<% if (!(page.layout == 'post') && !(page.layout == 'blog-post') && !(page.layout == 'written') && !(page.layout == 'blog')) { %>
	<div class="jumbotron bgblue mb-0 rounded-0 d-md-flex d-none">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="hero-carousel">
						<div><a href="<%- url_for('les-39-marches/')%>"><img src="<%- url_for('/img/cover_39marches.jpg') %>" height="256"/></a></div>
						<div><a href="<%- url_for('metropolis-fritz-lang/')%>"><img src="<%- url_for('/img/cover_metropolis.png') %>" height="256"/></a></div>
						<div><a href="<%- url_for('une-femme-disparait/')%>"><img src="<%- url_for('/img/cover_uneFemmeDisparait.jpg') %>" height="256"/></a></div>
						<div><a href="<%- url_for('the-kid-charlie-chaplin-francais/')%>"><img src="<%- url_for('/img/cover_theKid.jpg') %>" height="256"/></a></div>
						<div><a href="<%- url_for('superman/')%>"><img src="<%- url_for('/img/cover_superman.jpg') %>" height="256"/></a></div>

					</div>
				</div>
				<div class="col-md-6 col-sm-12 offset-md-1">
					<h1 class="display-4 helsinki cwhite"><strong>Cinetimes</strong></h1>
					<hr class="my-4" style="background-color: white;">
					<p class="lead cwhite">Que souhaitez vous voir ?</p>

					<div id="q">
					  <input class="typeahead form-control" type="text" placeholder="Alfred Hitchcock, Superman...">
					</div>
					<div>
						<a class="fab fa-twitter fa-2x text-light mt-4"
							href="https://twitter.com/<%- config.twitter_site %>">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% } %>

<script>
	var movies = [
		 <% site.posts.each(function(post){ %>
			<% if(post.layout == "post") { %>
				{
					"title": "<%- post.title %>",
					"author": "<%- post.author %>",
					"img": "<%- post.img_name %>",
					"url": "<%- post.permalink %>"
				},
			<% } %>
		<% }); %>
	];
	// const cartoons = [];
	// const docs = [];
	// console.log(movies);
</script>
