<head>
      <%
      var title = '';
      if (page.serp) {
        title = page.serp
      }
      else {
        if (page.title) {
          title = page.title + (page.author ? ' - ' + page.author + ' | ' + config.title : ' | ' + config.title);
        }
        else if (page.category) {
          title = page.category + ' | ' + config.title;
        }
        else if (page.tag) {
          title = page.tag + ' | ' + config.title;
        }
        else {
          title = config.title + ' | ' + config.subtitle;
        }
      }
      %>
      <title> <%- title %> </title>

      <%
        if (is_post()) {
          var categories = [];
          page.categories.forEach(function(cat) {
            categories.push(cat.name);
          });
          categories = categories[0];
        }
        var description = '';
        if (page.description) {
          description = page.description;
        } else if (page.subtitle || page.author) {
          description = page.title + ", un " + site.data.metadata[categories] + " de " + page.author + ' disponible gratuitement sur ' + ' ' + config.title + ' ' + site.data.metadata.langue;
        }
        else {
          description = config.subtitle
        }
      %>

      <meta charset="utf-8" />
      <meta name="description" content="<%- description %>">
      <!-- Mobile first responsive -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap 4.0.0 css -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      <!-- Plyr stylesheet  -->
      <link rel="stylesheet" href="<%- url_for('bower_components/plyr/dist/plyr.css') %>">

      <!-- Stylesheet -->
      <link rel="stylesheet" href="<%- url_for('/css/style.css') %>" />

      <!-- Font Awesome -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

      <!-- Add the slick-theme.css if you want default styling -->
      <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
      <!-- Add the slick-theme.css if you want default styling -->
      <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>


	  <!-- videojs CSS -->
	  <!-- <%- css('bower_components/video.js/dist/video-js.min.css') %> -->
      <!-- favicon -->
      <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for('favicon/apple-icon-57x57.png') %>">
      <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for('favicon/apple-icon-60x60.png') %>">
      <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for('favicon/apple-icon-72x72.png') %>">
      <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for('favicon/apple-icon-76x76.png') %>">
      <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for('favicon/apple-icon-114x114.png') %>">
      <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for('favicon/apple-icon-120x120.png') %>">
      <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for('favicon/apple-icon-144x144.png') %>">
      <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for('favicon/apple-icon-152x152.png') %>">
      <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for('favicon/apple-icon-180x180.png') %>">
      <link rel="icon" type="image/png" sizes="192x192"  href="<%- url_for('favicon/android-icon-192x192.png') %>">
      <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for('favicon/favicon-32x32.png') %>">
      <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for('favicon/favicon-96x96.png') %>">
      <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for('favicon/favicon-16x16.png') %>">
      <link rel="manifest" href="<%- url_for('favicon/manifest.json') %>">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">

      <%- partial('meta', {page: page, description: description}) %>

      <!-- Google propriété cejotaazamat-->
      <meta name="google-site-verification" content="9X-hXdUKMi4uuw6ZyhwU9QnPMobAbVtOeq-Xdh1vYc4" />

      <!-- Add sumome -->
      <script src="//load.sumome.com/" data-sumo-site-id="5508c8ba1b43361b2f624d24362b11c55996ee20aaabd10d48407a29df599472" async="async"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78677033-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    ga('require', 'GTM-PPDHDBL');
    gtag('config', 'UA-78677033-1');
  </script> -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-78677033-1', 'auto');
    ga('require', 'GTM-PPDHDBL');
    ga('send', 'pageview');
  </script>

  <!-- OneSignal push notifications -->
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
      OneSignal.init({
        appId: "db3581c5-4ad0-4699-95bf-7c5864c8ff77",
      });
    });
  </script>
</head>
