<head>
      <title>
  		  <% if (page.title) { %>
  		  <%- page.title %> | <%- config.title %>
  		  <% } else { %>
  		  <%- config.title %> | <%- config.subtitle %>  %>
        <% } %>
	    </title>
      <meta charset="utf-8" />
      <meta name="description" content="<% if (page.subtitle || page.author || page.year) { %><%- __('description.intro') +' ' + page.title + ", un " + __('excerpt.' + page.category_bis) + " de " + page.author + " "+ __('description.released') + ' ' + page.year + ", " + __('description.available') + ' ' +  page.lang %><% } else { %> <%- __('index.description') %><% } %>">
      <!-- Mobile first responsive -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap 4.0.0 css -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      <!-- Stylesheet -->
      <link rel="stylesheet" href="<%- url_for('/css/style.css') %>" />

      <!-- Font Awesome -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


      <!--Google Fonts-->
      <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto:700|Lato:300' rel='stylesheet' type='text/css'>
	  <!-- videojs CSS -->
	  <%- css('bower_components/video.js/dist/video-js.min.css') %>
      <!-- favicon -->
      <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for('favicon/apple-icon-57x57.png') %>">
      <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for('favicon/apple-icon-60x60.png') %>">
      <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for('favicon/apple-icon-72x72.png') %>">
      <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for('favicon/apple-icon-76x76.png') %>">
      <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for('favicon/apple-icon-114x114.png') %>">
      <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for('favicon/apple-icon-120x120.png') %>">
      <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for('favicon/apple-icon-144x144.png') %>">
      <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for('favicon/apple-icon-152x152.png') %>">
      <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for('favicon/apple-icon-180x180.png') %>">
      <link rel="icon" type="image/png" sizes="192x192"  href="<%- url_for('favicon/android-icon-192x192.png') %>">
      <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for('favicon/favicon-32x32.png') %>">
      <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for('favicon/favicon-96x96.png') %>">
      <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for('favicon/favicon-16x16.png') %>">
      <link rel="manifest" href="<%- url_for('favicon/manifest.json') %>">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">


<!--	  <meta name="propeller" content="417390c24b0eae2dcf6870ed48a410cd" />-->
  <!-- Google propriété 04420-->
  <meta name="google-site-verification" content="ZrmK2QDITzEICZ1_nWtV6AUofWaXF7pISveOiW7IVlk" />
  <!-- Google propriété cejotaazamat-->
  <meta name="google-site-verification" content="9X-hXdUKMi4uuw6ZyhwU9QnPMobAbVtOeq-Xdh1vYc4" />

  <!-- Google Analytics Global site tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78677033-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-78677033-1');
  </script>


</head>
