      <nav id="mainNav">
        <ul class="nav">

        <% for (var link in site.data.menu) { %>
          <li>
					    <a href="<%= site.data.menu[link] %>"> <%= link %> </a>
				  </li>
        <% } %>

          <div class="dropdown">
            <button class="dropbtn">
             <span class="fa fa-globe" aria-hidden="true"></span>
		     <%- site.data.excerpt["Langue"]  %>
<!--              <span class="fa fa-caret-down" aria-hidden="true"></span>-->
            </button>
            <div class="dropdownContent">
              <a href="<%- url_for('/') %>"><img src="<%- url_for("img/france(1).png") %>"> <span>Français</span></a>
              <a href="<%- url_for_lang('/es') %>"><img src="<%- url_for("img/spain(1).png") %>"> <span>Español</span></a>
            </div>
          </div>
        </ul>


      </nav>
      <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="<%- __('menu_url.home') %>"><%- __('menu.home') %></a>
        <a href="<%- __('menu_url.movies') %>"><%- __('menu.movies') %></a>
        <a href="<%- __('menu_url.cartoons') %>"><%- __('menu.cartoons') %></a>
        <a href="<%- __('menu_url.docs') %>"><%- __('menu.docs') %></a>
        <a href="<%- __('menu_url.home') %>"></a>
      </nav>


      <div id="mobileNav">
        <ul>
          <li>
            <span onclick="openNav()"><span class="fa fa-bars" aria-hidden="true"></span></span>
          </li>
          <li>
            <a href="#">CineTime</a>
          </li>
          <li>
<!--            <span class="fa fa-search" aria-hidden="true"></span>-->
          </li>
        </ul>
      </div>
